body {
    background-color: #040737;
    font-family: "Poppins", sans-serif;
}

h1 {
    color: #B287F6;
    font-weight: bolder;
    text-shadow: 0 0 5px #B287F6;
}

@media (min-width: 576px) and (max-width: 767.08px) {
    h1 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 1199.08px) {
    h1 {
        font-size: 2.7rem;
    }
}


#body-outline {
    border-style: solid;
    border-color: #1316B0;
    border-width: 2px;
    border-radius: 12px;
    padding: 2rem;
    
}

input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #040737;
    color: #B8C5F7;     
    height: 2.7rem;
    font-size: large;
}


*:focus {
    outline: none;
}

#task-container {
    border: 1px solid #071156;
    border-radius: 5px;
    background-color: #040737;
    color: #B8C5F7;
}

.boxx {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 0.5rem;
}

#add {
    width: 4rem;
    height: 2.7rem;
    background-color: none;
    border: 0.5px solid #7F67FB;
    box-shadow: 0 0 1px 1px #7F67FB;
    color: #B287F6;
}

#add:hover {
    background-color: #7F67FB;
    color: white;
}

.span-container {
    display: inline-block;
    width: 22rem;      
    margin-right: 0.5rem;
    font-size: 1.1rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;       
}

.glowContainer {
    display: inline-block;
    width: 22rem;   
    height: 3rem;    
    margin-right: 0.5rem;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;   
    box-shadow: 0 0 2px 1px #7F67FB;    
}

button i {
    font-size: 1.3rem;
}

.del {
    width: 3rem;
    height: 3rem;
    background-color: #040737;
    color: #B8C5F7;
    border: none;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 0.5rem; 
    background-color: #040737;
    border:1px solid #0D1A8B;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.ticked .checkmark {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 0.5rem; 
    background-color: #040737;
    border:1px solid #7F67FB;
    box-shadow: 0 0 1px 1px #7F67FB;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.custom-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 0.9rem;   
    top: 0.4rem;    
    width: 0.8rem;
    height: 1.5rem;
    border: solid #B287F6;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

    filter: drop-shadow(0 0 0.5px #B287F6)
            drop-shadow(0 0 1.5px #B287F6)
            drop-shadow(0 0 2.5px #B287F6);
}
